/* item {
	FONTE
	TAMANHO
	MARGEM e PADDING
	COR 
	ESTILO 
	POSIÇÃO
}*/

body, head {
	font-family: 'Quicksand', sans-serif;
}

	.fa-angle-down {
		font-size: 48px;
		color: #24bec0;
		margin-top: 15px;
	}

	.titulo-h1 {
		font-family: 'Quicksand', sans-serif;
		font-weight: bold;
		color: #24bec0;
		margin: 80px 0px 15px 0px;
	}

	.sec-site {
		font-family: 'Quicksand', sans-serif;
		color: #24bec0;
		width: 100%;
		height: 100vh;
		text-align: center;	
	}

	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: none;
	}

/*Navbar*/
	.nav {
			font-family: 'Quicksand', sans-serif;
			font-weight: 700;
			font-size: 1.25rem;
			color: #24bec0;
			width: 100%;
			height: 8vh;
			padding: 3px 10px;
			background-color: white;
		    box-shadow: 0px 0px 3px grey;
			z-index: 10;
			position: fixed;
		}
			
			.nav a {
				color: #24bec0;
			}
			.nav a:hover {
				color: #157273;
			}

/*Início*/
	#bg {
		-webkit-background-size: cover;
   		background-size: cover;
   		background-repeat: no-repeat;
		height: 100vh;
		width: 100%;
		position: absolute;
		z-index: 5; 
	}

		#texto-inicial {
			font-size: 50px;
			font-family: 'Quicksand', sans-serif;
			font-weight: bold;
			margin: 12% 0% 0% 7%;
			color: #24bec0;
			position: absolute;
			z-index: 6;
		}

		#texto-inicial h1 {
			font-size: 48px;
			font-weight: bold;
		}

		#texto-inicial h3 {
			margin: 40px 0px;
			font-weight: medium;
		}

		#texto-inicial i{
			margin-left: 137%;
		}

	#slider {
		z-index: 0;
	}
		.slider-img {
			z-index: 0;
			width: 100%;
			height: 100vh;
			background-size: cover;
			position: center
		}	

/*Menuzinho*/
	#menuzinho {
		/*background-color: red;*/
	}

	/*Botões/Filtros*/
		.btn-menuzinho {
			background-color: white;
			width: auto;
			margin: 5px;
			padding: 2px 10px;		
			border-radius: 20px;
			outline: none;
		}

		.btn-menuzinho:focus {
			outline: none;
		}

			.azul {
				color: #24bec0;
				border: 5px solid #24bec0;
			}
				.azul:hover{
					color: white;
					background-color: #24bec0;
				}

			.laranja {
				color: #dea900;
				border: 5px solid #dea900;
			}
				.laranja:hover {
					color: white;
					background-color: #dea900;
				}

			.verde {
				color: #bdd108;
				border: 5px solid #bdd108;
			}
				.verde:hover {
					color: white;
					background-color: #bdd108;
				}

	/*Itens*/
		.m-item {
			width: 250px;
			height: 340px;
			padding: 15px;
			margin: 25px 10px 10px 10px;
			border-radius: 60px;
			box-shadow: 0px 1px 10px grey;
			overflow: hidden;
		}
			.m-item img {
				width: 260px;
				margin: -15px -15px 0px -15px;
				border-radius: 60px 60px 0px 0px;
			}

			.m-item h5 {
				font-weight: bold;
				color: #bdd108;
				margin: 10px;
			}

			.item-desc {
				font-size: 0.9rem;
				font-weight: bold;
				color: #525252;
			}
		
			.item-m-desc {
				font-size: 0.7rem;
				font-weight: bold;
				color: #8b8b8b;
			}

/*Nosso Cuidado*/
	#cuidado {
		color: #7e7e7e;
		/*background-color: red;*/
	}

		#cuidado img {
			width: 30%;
			margin-bottom: 10px;
		}

/*Curso*/
	#curso {
		font-weight: bold;
		color: #7e7e7e;
	}

		.texto-grande {
			font-size: 20px;
		}

		.imagem {
			height: 180px;
			width: 185px;
			margin: 0px 5px;
			background-color: red;
		}

/*Bistrô*/
	#bistro {
		font-weight: bold;
		color: #7e7e7e;
		height: 90vh;
	}

/*Mídia*/
	#midia {

	}
		.video {
			height: 220px;
			margin: 0px 10px 20px 10px;
			padding: 15px;
			border: 10px solid #bdd108;
			border-radius: 60px;
		}

		.desc-video {
			font-size: 22px;
			font-weight: bold;
			color: #bdd108;
			margin-top: 5px;
		}

/*Localização*/
	#localização {
	}

		#localizacao .texto-grande {
			font-weight: bold;
			color: #7e7e7e;
		}

/*Contato*/
	#contato {
		height: 400px;
	}
		#contato .texto-grande {
			font-weight: bold;
			color: #7e7e7e;
		}

		.btn-contato {
			text-align: left;
			width: 310px;
			height: 80px;
			margin: 20px 15px;
			padding: 10px;
			border-radius: 50px;
		}
			.btn-contato-icone {
				font-size: 36px;
				text-align: center;
				height: 60px;
				width: 90px;
				color: #525252;
				padding: 12px;
				background-color: white;
				border-radius: 30px;
			}

			.btn-contato-item {
				text-align: left;
				font-size: 24px;
				font-weight: bold;
				color: white;
				margin: 0px;
			}

			.btn-contato-info {
				font-size: 14px;
				font-weight: bold;
				color: #525252;
				margin-top: -2px;
			}

		#footer {
			font-size: 18px;
			font-family: 'Quicksand', sans-serif;
			font-weight: bold;
			color: white;
			text-align: center;
			margin: 0px;
			height: 270px;
			width: 100%;
			background-color: #24bec0;
			position: absolute;
		}

			#sub-footer{
				height: 48px;
				padding: 12px;
				background-color: #27cfd1;
			}

				#sub-footer a {
					font-size: 24px;
					color: white;
				}